.main {
    display: flex;
    gap: $default-size;
    background-color: $white-background;
}

.dashboard {
    flex: 1;
    display: grid;
    background-color: $white-background;
    grid-template-columns: 1.5fr 1.5fr 32px 2fr;
    grid-template-areas: 
        "content1 content1 content-space content2"
        "content3 content4 content-space content5"
        "content6 content6 content6 content6";
    grid-gap: $default-size * 4;
    padding: $default-size * 8 $default-size * 9;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: $default-size * 2 $default-size * 3;
    flex: none;

    width: 280px;
    background-color: $white-background;
    border-radius: 4px;
    box-shadow: $box-shadow;
    z-index: 2;
    transition: all 0.1s;

    &_header {
        display: flex;
        flex-direction: column;
        gap: $default-size;
        flex: 1;
    }

    &_footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $color-gray-100;
        padding-top: $default-size;
        gap: $default-size * 2;
        font-weight: $font-weight-bold;
    }

    &_help {
        font-size: 15px;
        color: #535763;
        padding-left: $default-size;
    }

    &_theme {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 5 * $default-size;
        border-radius: 5 * $default-size;
        background-color: $color-gray-10;
    }

    &_switch {
        margin: 0 $default-size / 2;
        padding: $default-size;
        text-align: center;
        border-radius: 4 * $default-size;
        flex: 1;
    }

    &_switch:hover {
        background-color: $white-background;
    }

    &_active {
        background-color: $white-background;
    }

    .company {
        display: flex;
        flex-direction: row;
        align-items: center;

        &_name {
            margin-top: $default-size * 2;
            margin-left: $default-size;
        }
    }

    .collapse {
        margin-top: $default-size * 2;
        border-left: $default-size / 2 solid #F0F0F0;
        padding-top: $default-size / 2;
        padding-left: $default-size;
    }

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 4 * $default-size;
        margin-bottom: 2 * $default-size;

        &_photo {
            flex: none;
            width: 7 * $default-size;
        }
        &_details {
            display: flex;
            flex-direction: column;
        }
        &_name {
            color: $color-blue-100;
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
        }
        &_email {
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            color: $color-gray-90;
        }
    }

    &_collapse {
        display: none;
    }
    
    .navitem {
        display: flex;
        padding: $default-size;
        border-radius: $default-size;
        color: $color-gray-90;
        font-weight: $font-weight-bold;
        justify-content: space-between;
        align-items: baseline;

        &_number {
            color: black;
            border-radius: $default-size / 2;
            font-weight: $font-weight-bold;
            font-size: $font-size-xs;
            padding: $default-size / 2 $default-size;
        }
        &_blue {
            background-color: $info-color;
        }
        &_red {
            background-color: $danger-color;
        }
        &_green {
            background-color: $success-color;
        }
    }

    .navitem:hover, .active {
        background-color: $primary-color-50;
        color: white;
    }

    .hiddable {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &.hiddable {
        flex: unset;
        width: 50px;
        transition: all 0.2s;
        .company {
            flex-direction: column;
        }

        .hiddable {
            display: none;
        }

        .sidebar {
            &_help {
                display: none;
            }
            &_theme {
                display: none;
            }
            &_collapse {
                margin-left: $default-size;
                border: 1px solid black;
                border-radius: 50px;
                display: unset;
                padding: 5px;
            }
        }
    }
}

.dashboardcard {
    background-color: $white-background;
    border-radius: $default-size / 2;
    box-shadow: $box-shadow;

    &_image {
        flex: none;
        width: 30 * $default-size;
        background-image: url('/assets/picture1.png');
        background-size: cover;
    }
    &_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 3 * $default-size  4 * $default-size 3 * $default-size 4 * $default-size; 
    }    

    &_chart {
        flex: 2;
        padding: $default-size 4 * $default-size $default-size 0;
    }
}

.post {
    $post-title-font-family: $font-family-title;
    $post-title-font-size: $font-size-xl;
    &_author {
        font-size: $font-size-small;
    }
    
    &_title {
        margin: $default-size 0 0 0;
        font-size: $post-title-font-size;
        font-family: $post-title-font-family;
        font-weight: bold;
    }

    &_text {
        margin-top: 3 * $default-size;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    &_button {
        margin-top: auto;
    }

    &_pointtitle {
        display: flex;
        font-size: $post-title-font-size;
        font-family: $post-title-font-family;
        font-weight: bold;
    }
    &_pointtitle::before {
        content: "•";
        color: $color-pink-80;
        padding: 0 $default-size;
    }

    &_pointdetail {
        margin: 3 * $default-size 3 * $default-size;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
}

#content1 {
    grid-area: content1;
    display: flex;
}


#content2, #content5 {
    grid-area: content2;
    display: flex;
}

#content3 {
    grid-area: content3;
}

#content4 {
    grid-area: content4;
}

#content5 {
    grid-area: content5;
}

#content6 {
    grid-area: content6;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table_info {
    padding: 2 * $default-size 3 * $default-size 3 * $default-size 3 * $default-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
    .sidebar {
        position: unset;
    }

    .dashboard {
        display: grid;
        background-color: $white-background;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        grid-gap: 4 * $default-size;
        padding: 8 * $default-size 9 * $default-size;
    }

    .post {
        &_text {
            margin-top: $default-size;
        }
    }
}

@media only screen and (max-width: 900px) {

    .collapse {
        display: none;
    }
    
    .sidebar {
        position: fixed;
        height: 50px;
        width: 100%;
    }
    .sidebar {
        &_header {
            display: none;
        }
        &_footer {
            display: none;
        }
    }

    .dashboard {
        margin-top: 5 * $default-size;
        grid-template-areas: 
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        padding: 8 * $default-size 4 * $default-size;

        #content1, #content2, #content5 {
            flex-direction: column;
        }
    }  

    .dashboardcard {
        &_content {
            padding: 2 * $default-size 4 * $default-size 3 * $default-size 4 * $default-size;
            order: 2;
        }   

        &_chart {
            flex: none;
            padding: 2 * $default-size;
            height: 250px;
            order: 1;
        }

        &_table {
            order: 2;
        }
    }
    .table_info {
        order: 1;
    }
}

.icon_margin {
    margin-left: $default-size;
    margin-right: 10px;
}
