.main {
    display: flex;
    height: 100vh;
}

.contents {
    flex: 6;
    display: grid;
    background: #FFF;
    grid-template-columns: 1fr 1fr 0.05fr 1fr;
    grid-template-rows: 1fr 1fr 1.6fr;
    grid-template-areas: 
        "content1 content1 content-space content2"
        "content3 content4 content-space content5"
        "content6 content6 content6 content6";
    grid-gap: 2em;
    padding: 30px;
}

#sidebar {
    flex: 1;
    background: #FFFFFF;
    grid-area: sidebar;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
}

#content1 {
    background: #FFFFFF;
    grid-area: content1;
}

#content2 {
    background: #FFFFFF;
    grid-area: content2;
}

#content3 {
    background: #FFFFFF;
    grid-area: content3;
}

#content4 {
    background: #FFFFFF;
    grid-area: content4;
}

#content5 {
    background: #FFFFFF;
    grid-area: content5;
}

#content6 {
    background: #FFFFFF;
    grid-area: content6;
}


@media only screen and (max-width: 550px) {
    #sidebar {
        position: fixed;
        height: 50px;
        width: 100%;
    }
    .contents {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        height: 300vh;
    }
}