.main {
    display: flex;
    height: 100%;
    gap: $default-size;
    background: $white-background;
}

.dashboard {
    flex: 1;
    display: grid;
    background: $white-background;
    grid-template-columns: 1.5fr 1.5fr 32px 2fr;
    grid-template-rows: repeat(2, minmax(180px, 260px)) minmax(600px, 900px);
    grid-template-areas: 
        "content1 content1 content-space content2"
        "content3 content4 content-space content5"
        "content6 content6 content6 content6";
    grid-gap: $default-size * 4;
    padding: $default-size * 8 $default-size * 9;
}

#sidebar {
    flex: none;
    width: 280px;
    background: $white-background;
    grid-area: sidebar;
    border-radius: 4px;
    box-shadow: 0px 5px 15px 0px #00000026;
    z-index: 2;

    display: flex;
    flex-direction: column;
    padding: $default-size * 2 $default-size * 3;

    .sidebar-header {
        display: flex;
        flex-direction: column;
        gap: $default-size;
        flex: 1;
    }

    .sidebar-footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(209, 211, 212, 0.2);
        padding-top: $default-size;
        gap: $default-size * 2;
        font-weight: 600;

        .sidebar-theme {
            display: flex;
            flex-direction: row;
            align-items: center;

            height: 40px;

            border-radius: 40px;
            background: #F0F0F0;

        }

        .sidebar-help {
            font-size: 15px;
            color: #535763;
            padding-left: $default-size;
        }

        .sidebar-theme-switch {
            margin: 0px 4px;
            padding: $default-size;
            text-align: center;
            border-radius: $default-size * 4;
            flex: 1;
        }

        .sidebar-theme-switch:hover {
            background: $white-background;
        }

        .sidebar-theme-active {
            background: $white-background;
        }

    }

    .company-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            flex: 0.7;
        }
        .company-name {
            flex: 2;
            margin-top: $default-size * 2;
            margin-left: $default-size;
        }
        .collapse {
            flex: 0.7;
            margin-top: $default-size * 2;
            border-left: 3px solid #F0F0F0;
            padding-top: 4px;
            padding-left: $default-size;
        }
    }

    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: $default-size * 2;

        .user-photo {
            flex: 1;
        }
        .user-details {
            display: flex;
            flex-direction: column;
            flex: 3;
        }
        .user-name {
            color: #1A1B2D;
            font-weight: 600;
            font-size: 15px;
        }
        .user-email {
            font-size: 12px;
            font-weight: 500;
            color: #535763;
        }
    }

    .sidebar-item {
        display: flex;
        align-items: center;
        padding: $default-size;
        border-radius: 8px;
        color: #535763;
        font-weight: 600;
    }

    .sidebar-item:hover, .active {
        background: #397289CC;
        color: white;
    }
    
    .sidebar-item-details {
        flex: 7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sidebar-number {
            color: black;
            border-radius: 4px;
            font-weight: 600;
            font-size: 10px;
            padding: $default-size / 2 $default-size;
        }
        .sidebar-number-blue {
            background: #B1E5FC;
        }
        .sidebar-number-red {
            background: #FB9B9B;
        }
        .sidebar-number-green {
            background: #B5EBCD;
        }
    }

    .sidebar-collapse-theme {
        display: none;
    }

    .hiddable {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    transition: all 0.1s;

    &.hiddable {
        flex: unset;
        width: 50px;
        transition: all 0.2s;
        .company-info {
            flex-direction: column;
        }
        .sidebar-logo {
            .company-name {
                display: none;
            }
        }
        .sidebar-header {
            .user-details {
                display: none;
            }
        }
        .hiddable {
            display: none;
        }
        .sidebar-footer {
            .sidebar-help {
                display: none;
            }
            .sidebar-theme {
                display: none;
            }
            .sidebar-collapse-theme {
                margin-left: 8px;
                border: 1px solid black;
                border-radius: 50px;
                display: unset;
                padding: 5px;
            }
        }
    }
}

.dashboardcard {
    background: $white-background;
    border-radius: 4px;
    box-shadow: $box-shadow;

    &_image {
        flex: none;
        width: $default-size * 30;
        background-image: url('/assets/picture1.png');
        background-size: cover;
    }
    &_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 3 * $default-size  4 * $default-size 3 * $default-size 4 * $default-size; 
    }    

    &_chart {
        flex: 2;
        padding: $default-size $default-size * 4 $default-size 0px;
    }
}

.post {
    $post-title-font-family: $font-family-title;
    $post-title-font-size: $font-size-large;
    &_author {
        font-size: $font-size-small;
    }
    
    &_title {
        margin: $default-size 0 0 0;
        font-size: $post-title-font-size;
        font-family: $post-title-font-family;
        font-weight: bold;
    }

    &_text {
        margin-top: 3 * $default-size;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    &_button {
        margin-top: auto;
    }

    &_pointtitle {
        display: flex;
        font-size: $post-title-font-size;
        font-family: $post-title-font-family;
        font-weight: bold;
    }
    &_pointtitle::before {
        content: "•";
        color: $color-pink-80;
        padding: 0 $default-size;
    }

    &_pointdetail {
        margin: 3 * $default-size 3 * $default-size;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
}

#content1 {
    grid-area: content1;
    display: flex;
}


#content2, #content5 {
    grid-area: content2;
    display: flex;
}

#content3 {
    grid-area: content3;
}

#content4 {
    grid-area: content4;
}

#content5 {
    grid-area: content5;
}

#content6 {
    grid-area: content6;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table_info {
    padding: $default-size * 2 $default-size * 3 $default-size * 3 $default-size * 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
    .collapse {
        display: none;
    }
    #sidebar {
        .company-info {
            .logo {
                flex: unset;
            }
        }
    }

    .dashboard {
        display: grid;
        background: $white-background;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, minmax(180px, 260px)) minmax(600px, 900px);
        grid-template-areas: 
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        grid-gap: $default-size * 4;
        padding: $default-size * 8 $default-size * 9;
    }

    .post {
        &_text {
            margin-top: $default-size;
        }
    }
}

@media only screen and (max-width: 900px) {
    #sidebar {
        position: fixed;
        height: 50px;
        width: 100%;
    }
    #sidebar .sidebar-header {
        display: none;
    }

    #sidebar .sidebar-footer {
        display: none;
    }
    .dashboard {
        margin-top: $default-size * 5;
        grid-template-rows: 0.1fr 0.2fr 0.1fr 0.1fr 0.2fr 1fr;
        grid-template-areas: 
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        height: 600vh;
        padding: 8 * $default-size 4 * $default-size;

        #content1, #content2, #content5 {
            flex-direction: column;
        }
    }  

    .dashboardcard {
        &_content {
            padding: 2 * $default-size 4 * $default-size 3 * $default-size 4 * $default-size;
            order: 2;
        }   

        &_chart {
            flex: none;
            padding: $default-size * 2;
            height: 250px;
            order: 1;
        }

        &_table {
            order: 2;
        }
    }
    .table_info {
        order: 1;
    }
}

.icon-margin {
    margin-left: $default-size;
    margin-right: 10px;
}
