
$color-gray-100: #535763;
$color-gray-80: #757982;
$color-gray-15: #e5e6e8;

$primary-color-100: hsl(197, 38%, 32%);
$primary-color-80: hsl(197, 41%, 38%);
$primary-color-60: #3c85a1;
$primary-color-40: #3b9dc4;

$color-pink-80: #E795A1;
