
$color-gray-100: hsla(200, 3%, 83%, 0.2);
$color-gray-90: #535763;
$color-gray-80: #757982;
$color-gray-15: #e5e6e8;
$color-gray-10: #F0F0F0;

$color-blue-100: #1A1B2D;

$primary-color-100: hsl(197, 38%, 32%);
$primary-color-80: hsl(197, 41%, 38%);
$primary-color-60: #3c85a1;
$primary-color-40: #3b9dc4;

$info-color: #B1E5FC; 
$danger-color: #FB9B9B; 
$success-color: #B5EBCD; 

$navbar-color: #397289CC;

$color-pink-80: #E795A1;
