@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import "color-variables";

$cx-include-global-rules: true;

//variables
//local variables

$default-size: 8px;
$white-background: #FFF;

//cx variables
//fonts
//local
$font-size-xs: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 15px;
$font-size-xl: 20px;

$font-family-title: 'Muli', sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
//cx
$cx-default-font-size: 16px;
$cx-default-font-family: 'Quicksand', sans-serif;

$box-shadow: 0px 5px 15px 0px $color-gray-15;

$border-radius: 4px;

$cx-default-palette-colors: rgb(228, 36, 46) rgb(71, 18, 218) rgb(215, 221, 204) rgba(103, 58, 183, 1)
   rgb(11, 15, 39) rgb(128, 155, 177) rgba(3, 169, 244, 1) rgba(0, 188, 212, 1) rgba(0, 150, 136, 1)
   rgba(76, 175, 80, 1) rgba(139, 195, 74, 1) rgba(205, 220, 57, 1) rgba(255, 235, 59, 1) rgba(255, 193, 7, 1)
   rgba(255, 152, 0, 1) rgba(255, 87, 34, 1) !default;

//grid style
$cx-default-grid-header-font-size: 16px;
$cx-default-grid-font-size: 14px;
$cx-default-grid-header-color: #464F60;
$cx-default-grid-header-border-color: #FFF;
$cx-default-grid-header-background-color: #FFF;
$cx-default-grid-data-alternate-background-color: #8686860D;

$cx-default-border-color: #E9EDF5;
$cx-default-grid-data-padding: 10px;

//button
$cx-default-button-font-size: 14px;
$cx-default-button-border-radius: $border-radius;
$cx-default-button-padding: $default-size 2 * $default-size;

@import "~cx/src/variables";

//maps
$cx-button-mods: cx-deep-map-merge($cx-button-mods, (
	primary: (
		default: (
            background-color: $primary-color-60,
            color: white,
            border-color: none,
        ),
        hover: (
            background-color: $primary-color-70,
        ),
        active: (
            background-color: $primary-color-80,
        ),
        focus: (
            background-color: $primary-color-70,
            box-shadow: none,
        )
    ), 
    secondary: (
        default: (
            background-color: white,
            border: 1px solid $primary-color-60,
            color: $primary-color-60,
            font-weight: $font-weight-medium,
        ),
        hover: (
            border: 1px solid $primary-color-70,
        ),
        active: (
            border: 1px solid $primary-color-100,
        )
    ),
    hollow: (
        default: (
            background-color: white,
            align-self: flex-end,
            color: $primary-color-60,
        ),
        hover: (
            background-color: white,
            color: $primary-color-90,
        )
    )
));

$cx-grid-header-state-style-map: cx-deep-map-merge(
    $cx-grid-header-state-style-map, (
        default: (
            border-bottom: 1px solid $cx-default-border-color,
        ),
        hover: (
            background-color: darken($cx-default-grid-header-background-color, 1),
        ),
        sorted: (
            background-color: darken($cx-default-grid-header-background-color, 2),
        ),
        sorted-hover: (
            background-color: darken($cx-default-grid-header-background-color, 3),
        ),
    )
);

@import "~cx/src/index";

// @include cx-grid('gridHeader', $grid-header-state-style-map);

//override
.cxb-svg {
    height: 100%;
    min-width: 200px;
}

.cxb-button {
    width: fit-content;
}

@import "components/index";
@import "layout/index";
@import "routes/index";
